<app-header></app-header>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h1>List of Category</h1>
    <ul *ngFor="let category of getCategoryData">
      <li>{{category.categoryName}} <button (click)=deleteCategory(category._id)>delete</button></li>
    </ul>
  </div>

  <div *ngIf="userRole" class="column" style="background-color:#bbb;">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="categoryName" placeholder="category name" formControlName="categoryName"
                required>
            </mat-form-field>
          </p>
          <mat-card-actions class="asd">
            <button type="submit" mat-raised-button color="primary">Add Category</button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>

<!--   <div *ngIf="userRole" class="column" style="background-color:#ccc;">
    <div class="column" style="background-color:#ccc;">
      <mat-card>
        <mat-card-content>
          <form [formGroup]="categoryForm1" (ngSubmit)="onSubmit1()">

            <label for="orders">Category</label>*
            <select formControlName="categoryId" id="orders" onchange="report(orders[i]._id)" required>
              <option *ngFor="let order of orders; let i = index" [value]="orders[i]._id">
                {{orders[i].categoryName}}
              </option>
            </select>
            <mat-card-actions class="asd">
              <button type="submit" mat-raised-button color="primary">delete</button>
            </mat-card-actions>
          </form>
        </mat-card-content>
      </mat-card>

    </div>
  </div>
   -->
</div>