<app-header></app-header>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h4>List of all products</h4>
    <table border="1">
      <thead>
        <th>Name</th>
        <th>price name</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of getAllProductData">
          <td>{{product.name}}</td>
          <td>{{product.price}}</td>
        </tr>
      </tbody>
    </table>



  </div>

  <div *ngIf="userRole" class="column" style="background-color:#bbb;">
    <h2>Add New product</h2>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

          <label for="orders">Category</label>*
          <select formControlName="categoryId" id="orders" required>
            <option *ngFor="let order of orders; let i = index" [value]="orders[i]._id">
              {{orders[i].categoryName}}
            </option>
          </select>

          <p>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="name" placeholder="name" formControlName="name" required>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field class="example-full-width">
              <input type="number" matInput placeholder="price" placeholder="price" formControlName="price" required>
            </mat-form-field>
          </p>
          <mat-card-actions class="asd">
            <button type="submit" mat-raised-button color="primary">Add Product</button>

          </mat-card-actions>

        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="column" style="background-color:#ccc;">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="categoryForm1" (ngSubmit)="onSubmit1()">

          <label for="orders">Category</label>*
          <select formControlName="categoryId" id="orders"  required>
            <option *ngFor="let order of orders; let i = index" [value]="orders[i]._id">
              {{orders[i].categoryName}}
            </option>
          </select>
          <mat-card-actions class="asd">
            <button type="submit" mat-raised-button color="primary">get product</button>

          </mat-card-actions>
        </form>

        <div *ngIf="aaaaa">

          Total Count: {{count}}
          <table border="1">
            <thead>
              <th>Name</th>
              <th>price </th>
            </thead>
            <tbody>
              <tr *ngFor="let order of productList">
                <td> {{order.name}}</td>
                <td>price</td>
              </tr>
            </tbody>
          </table>

        </div>

      </mat-card-content>
    </mat-card>

  </div>
</div>