<mat-toolbar color="primary">
  <mat-toolbar-row>
      <span class="labelForTextbox" routerLink="/Dashboard">Dashboard</span><br><br><br>
    <span class="labelForTextbox" routerLink="/Appiness">Category</span>
    <span class="labelForTextbox" routerLink="/Appiness/Product">Product</span>

    <span class="spacer"></span>
    <a mat-button (click)="Logout()">Logout</a>

  </mat-toolbar-row>
</mat-toolbar>