<mat-card>
  <mat-card-title>Signup</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" placeholder="password" formControlName="password" required>
        </mat-form-field>
      </p>
      <mat-card-actions class="asd">
        <button type="submit" mat-raised-button color="primary">Signup</button>
        <br>
        Already have an account login here

        <button class="labelForTextbox" routerLink="/Lignup">login</button>
      </mat-card-actions>

    </form>
  </mat-card-content>
</mat-card>

<h2>First Registered user is Admin for this website</h2>