<app-header></app-header>
<p>Welcome to  APPINESS</p>

<p>Navigate to other page click the navbar link </p>

<h2>You Are Logged As: {{userRole}} </h2>

<p>If you are a Admin you are able to do add/delete products and category </p>
<p>If you are a User you are Not able to do add/delete products and category You can only view the page </p>


